extends layouts/main
include mixins/videoBlock

block content
    .videos 
        each video in videosDb 
            +videoBlock({
                id:video.id,
                videoFile:video.fileUrl,
                title:video.title,
                views:video.views ,
            })
