extends layouts/main
include mixins/videoBlock

block content
    .videos 
        each video in videosDb 
            +videoBlock({
                title:video.title,
                views:video.views,
                videoFile:video.videoFile,
            })
