extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Searching for : #{searchingBy}
    .search__videos
        if videosDb.length === 0   
            h5 No Videos Found 
        each video in videosDb 
            +videoBlock({
                id : video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl,
                comments : video.commnets,
            })



