extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Searching for : #{searchingBy}
    .search__videos     
        each video in videosDb 
            +videoBlock({
                title:video.title,
                views:video.views,
                videoFile:video.videoFile,
            })



// 서치 기능은 아직 구현 하지 않음
// 단순 화면 표시
            